body{
  overflow-x: hidden;
  background-color: #E17654;
  
}


.bg-image {
  gap: none;
  background-size: contain; /* or contain, or a specific size */
  background-position: center; /* or any other position */
  background-repeat: no-repeat; /* or repeat-x, repeat-y, or repeat */
  background-attachment: fixed; /* or scroll */
}
.text{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
color: aliceblue;
}
.sec-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: aliceblue;
}

.btn{
 background-color: orange !important;
 border: none !important;
 
}

#clearBtn{
  border: none;
  background-color: white !important;
 
}
#clearBtn:hover{
 color: crimson;
}

.Typebuttons{
  background-color: #FFEAD0 !important;
  color: rgb(36, 36, 36) !important;
}
#luxury{
  background-color:#161616 !important;
}

#simple{
  background-color: #E17654 !important;
 
}
#rugged{
  background-color: #115E59 !important;
  
}

/* .typebutton2{
 height: 7vh !important;
 width: 10vw !important;
}

@media screen and (min-width:260px){
  .typebutton2{
    height: 7vh !important;
    width: 35vw !important;
  }
} */

.notfound{
  overflow-y: hidden !important;
}

@media only screen and (max-width: 600px) {
  .home-container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/image54.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
  }

  /* .hostvanscontainer{

  } */
}

.navbar{
 
  width: 100vw;
  height: 111.62px;
  
  background-color:  #d3b0967a;
   
  }
  
  .links{
      color: black !important;
  }
  .links:hover{
      text-decoration: underline;
      font-weight: bolder;
  }
  
  .active-link{
      font-weight: bold;
      text-decoration: underline;
      color: #161616;
      text-decoration: underline;
  }